<ng-container *ngIf="requestState$$ | async as requestState">
  <ng-container *ngIf="wishList$$ | async as wishList">
    <div class="wish-list main-page">
      <div class="main-container">
        <div class="wish-list__container main-card">
          <h2 class="wish-list__title">Chcę obejrzeć:</h2>
          <ng-container *ngIf="requestState.status === 'success'">
            <ul
              class="wish-list__list"
              *ngIf="wishList.length; else noWishList"
            >
              <app-wish-list-item
                *ngFor="let wish of wishList"
                [movie]="wish.movie"
                [wishId]="wish.id"
                (deleteWish)="deleteWish($event)"
              >
              </app-wish-list-item>
            </ul>
            <ng-template #noWishList>
              <p>Nie chcesz obejrzeć żadnych filmów... 😐</p>
            </ng-template>
          </ng-container>

          <app-loader [requestState]="requestState"></app-loader>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
