<div class="main-page">
  <div class="main-container">
    <div class="main-card add-movie">
      <h2>Dodaj film</h2>
      <ng-container *ngIf="genres$ | async as genres">
        <app-add-movie-form
          [genres]="genres"
          (handleSubmitEvent)="createMovie($event)"
        ></app-add-movie-form>
      </ng-container>
      <ng-container *ngIf="requestState | async as requestState">
        <app-loader [requestState]="requestState"></app-loader>
      </ng-container>
    </div>
  </div>
</div>
