<div class="main-page">
  <div class="main-container add-movie">
    <h2>Dodaj film</h2>
    <ng-container *ngIf="genres$ | async as genres">
      <app-add-movie-form
        [genres]="genres"
        (handleSubmitEvent)="createMovie($event)"
      ></app-add-movie-form>
    </ng-container>
    <ng-container *ngIf="requestState | async as requestState">
      <app-loader *ngIf="requestState.status === 'pending'"></app-loader>
      <p
        class="fnt-13-regular fnt-color-red"
        *ngIf="requestState.status === 'failed'"
      >
        {{ requestState.errorMessage }}
      </p>
      <p
        class="fnt-13-regular fnt-color-green"
        *ngIf="requestState.status === 'success'"
      >
        {{ requestState.successMessage }}
      </p>
    </ng-container>
  </div>
</div>
