.button {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: var(--colorWhite);
    border-radius: 5px;
    border: 2px solid var(--colorDarkGreen);
    transition: 0.2s background-color linear;
}

.button:hover {
    cursor: pointer;
    background-color: var(--colorDarkGreen);
    transition: 0.2s background-color linear;
    color: var(--colorWhite);
}

.button__text {
    min-width: 90px;
}

.button--important {
    border-color: var(--colorPurple);
}

.button--important:hover {
    background-color: var(--colorPurple);
}