.footer {
    width: 100%;
    padding: 50px 20px 15px 20px;
    background-color: var(--colorWhite);
    height: 160px;
}

.footer__upper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__icons {
    display: flex;
}

.footer__link {
    color: var(--colorBlack);
}

.footer__icon {
    margin: 0 15px;
    font-size: 2rem;
    cursor: pointer;
}

.footer__nav {
    list-style-type: none;
    display: flex;
}

.footer__nav-item {
    padding: 0 10px;
    cursor: pointer;
}

.footer__copyright {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .footer {
        height: auto;
    }

    .footer__upper-container {
        flex-direction: column;
    }

    .footer__nav {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 475px) {
    .footer__nav {
        flex-direction: column;
        text-align: center;
    }

    .footer__nav-item {
        padding: 10px 0;
    }
}