<header class="header__wrapper">
    <div class="header">
        <div class="header__logo-container" routerLink="">
            <h1 class="header__title">Ale kino!</h1>
            <fa-icon class="header__icon" [icon]="film"></fa-icon>
        </div>
        <div class="header__buttons">
            <ng-container *ngIf="userData">
                <div class="header__cart-button">
                    <app-button
                    *ngIf="userData"
                    [icon]="cartShopping"
                ></app-button>
                <p class="header__cart-counter fnt-color-red fnt-13-bold" *ngIf="cartCounter">{{ cartCounter }}</p>
                </div>
                <app-button
                    *ngIf="!userData; else elseBlock"
                    text="Zaloguj"
                    [important]="true"
                    routerLink="login"
                ></app-button>
                <ng-template #elseBlock>
                    <app-header-dropdown
                        (logoutEvent)="handleLogout()"
                        [firstName]="userData!.firstName"
                    ></app-header-dropdown>
                </ng-template>
            </ng-container>
        </div>
    </div>
</header>
