.header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 2.5px black;
}

.header__title {
    color: var(--colorDarkBlue);
}

.header__buttons {
    display: flex;
}