.header__wrapper {
    width: 100%;
    background-color: var(--colorWhite);
    height: 75px;
}

.header {
    padding: 15px 20px;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-container {
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--colorDarkBlue);
    font-size: 225%;
    cursor: pointer;
}

.header__icon {
    margin-left: 10px;
    font-size: 36px;
}

.header__buttons {
    display: flex;
}

.header__cart-button {
    margin-right: 10px;
}

@media only screen and (max-width: 500px) {
    .header__title {
        display: none;
    }
}