.header__wrapper {
    width: 100%;
    background-color: var(--colorWhite);
    height: 75px;
}

.header {
    padding: 15px 20px;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    color: var(--colorDarkBlue);
    font-size: 225%;
}

.header__icon {
    margin-left: 10px;
}

.header__buttons {
    display: flex;
}

.header__dropdown-wrapper {
    position: relative;
    display: flex;
}

.header__dropdown {
    position: absolute;
    width: 100%;
    top: 42px;
    left: 0px;
    list-style-type: none;
    border: 1px solid black;
    background-color: var(--colorWhite);
    border-radius: 5px;
}

.header__dropdown-item {
    padding: 10px;
}

.header__dropdown-item:hover {
    cursor: pointer;
    background-color: var(--colorDarkBlue);
    color: var(--colorWhite);
    transition: background-color 0.2s linear;
}