<form
  [formGroup]="addScreeningForm"
  class="add-screening-form"
  (ngSubmit)="handleSubmit()"
>
  <mat-form-field appearance="fill">
    <mat-label>Wybierz film</mat-label>
    <mat-select formControlName="movieId" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let movie of movies" [value]="movie.id">
        {{ movie.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      <ng-container *ngIf="movieIdCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest obowiązkowe</ng-container
        >
      </ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Wybierz salę</mat-label>
    <mat-select formControlName="roomId" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let room of rooms" [value]="room.id">
        {{ room.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="roomIdCtrl.errors as errors">
      <ng-container *ngIf="errors['required']"
        >To pole jest obowiązkowe</ng-container
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field color="primary" class="fieldset__input">
    <mat-label>Data</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [min]="today"
      formControlName="day"
    />
    <mat-error *ngIf="dayCtrl.errors as errors">
      <ng-container *ngIf="errors['required']"
        >To pole jest wymagane.</ng-container
      >
      <ng-container *ngIf="errors['matDatepickerMin']"
        >Data nie może być w przeszłości.</ng-container
      >
    </mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field color="primary" class="fieldset__input">
    <mat-label>Godzina</mat-label>
    <input
      matInput
      formControlName="hour"
      type="time"
      [errorStateMatcher]="isExistingMatcher"
      [errorStateMatcher]="isHourInThePastStateMatcher"
    />
    <mat-error>
      <ng-container *ngIf="hourCtrl.errors as errors; else isEqual">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
      </ng-container>
      <ng-template #isEqual>
        <ng-container *ngIf="addScreeningForm.errors as errors">
          <ng-container *ngIf="errors['isExisting']">
            W tym czasie i sali odbywa się inny seans.
          </ng-container>
          <ng-container *ngIf="errors['isHourInThePast']">
            Seans nie może być w przeszłości.
          </ng-container>
        </ng-container>
      </ng-template>
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!addScreeningForm.valid">
    Zatwierdź
  </button>
  <mat-spinner
    matSuffix
    diameter="20"
    *ngIf="(addScreeningForm.statusChanges | async) === 'PENDING'"
  ></mat-spinner>
</form>
