.add-screening-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  max-width: 210px;
  width: 100%;
}

.add-screening-form > mat-form-field {
  width: 100%;
}
