<form
  [formGroup]="addScreeningForm"
  class="add-screening-form"
  (ngSubmit)="handleSubmit()"
>
  <select class="input add-screening-form__input" formControlName="movieId">
    <option [ngValue]="null" disabled hidden>Wybierz film</option>
    <option *ngFor="let movie of movies" [value]="movie.id">
      {{ movie.name }}
    </option>
  </select>
  <ng-container *ngIf="movieIdCtrl.errors as errors">
    <ng-container *ngIf="movieIdCtrl.touched">
      <p *ngIf="errors['required']" class="fnt-13-regular fnt-color-red">
        Te pole jest obowiązkowe
      </p>
    </ng-container>
  </ng-container>

  <input
    class="add-screening-form__input input"
    [class.input-error]="hourCtrl.touched && hourCtrl.errors"
    type="time"
    formControlName="hour"
    placeholder="Liczba rzędów*"
  />
  <ng-container *ngIf="hourCtrl.errors as errors">
    <ng-container *ngIf="hourCtrl.touched">
      <p *ngIf="errors['required']" class="fnt-13-regular fnt-color-red">
        Te pole jest obowiązkowe
      </p>
    </ng-container>
  </ng-container>

  <select class="add-screening-form__input input" formControlName="roomId">
    <option [ngValue]="null" disabled hidden>Wybierz salę</option>
    <option *ngFor="let room of rooms" [value]="room.id">
      {{ room.name }}
    </option>
  </select>
  <ng-container *ngIf="movieIdCtrl.errors as errors">
    <ng-container *ngIf="movieIdCtrl.touched">
      <p *ngIf="errors['required']" class="fnt-13-regular fnt-color-red">
        Te pole jest obowiązkowe
      </p>
    </ng-container>
  </ng-container>

  <select class="add-screening-form__input input" formControlName="day">
    <option [ngValue]="null" disabled hidden>Wybierz dzień</option>
    <option
      *ngFor="let room of [].constructor(5); let i = index"
      [value]="i + 1"
    >
      {{ i + 1 }}
    </option>
  </select>
  <ng-container *ngIf="movieIdCtrl.errors as errors">
    <ng-container *ngIf="movieIdCtrl.touched">
      <p *ngIf="errors['required']" class="fnt-13-regular fnt-color-red">
        Te pole jest obowiązkowe
      </p>
    </ng-container>
  </ng-container>
  <app-button text="Zatwierdź" [important]="true"></app-button>
</form>
