<form
  class="settings-form"
  [formGroup]="settingsForm"
  (submit)="handleSubmit()"
>
  <mat-form-field color="primary">
    <mat-label>Imię</mat-label>
    <input appNoSpaces matInput formControlName="firstName" />
    <mat-error *ngIf="firstNameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container
          *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameSpecialLetters>
        <ng-container *ngIf="errors['pattern']"
          >Znaki specjalne są niedozwolone</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>
  <mat-form-field color="primary">
    <mat-label>Nazwisko</mat-label>
    <input appNoSpaces matInput formControlName="lastName" />
    <mat-error *ngIf="lastNameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container
          *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameSpecialLetters>
        <ng-container *ngIf="errors['pattern']"
          >Znaki specjalne są niedozwolone</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>
  <mat-form-field color="primary">
    <mat-label>Numer telefonu</mat-label>
    <input appNoSpaces matInput formControlName="phone" />
    <mat-error *ngIf="phoneCtrl.errors as errors">
      <ng-container *ngIf="errors['minlength'] as minLength; else nameMaxLength"
        >Min. liczba znaków: {{ minLength.actualLength }}/{{
          minLength.requiredLength
        }}.</ng-container
      >
      <ng-template #nameMaxLength>
        <ng-container *ngIf="errors['maxlength'] as maxLength; else namePattern"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #namePattern>
        <ng-container *ngIf="errors['pattern']"
          >Telefon jest w niewłaściwym formacie</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    *ngIf="settingsForm.disabled"
    (click)="enableForm()"
  >
    Edytuj
  </button>
  <button
    mat-flat-button
    color="accent"
    *ngIf="settingsForm.enabled"
    (click)="cancelForm()"
  >
    Anuluj
  </button>
  <button mat-flat-button color="primary" *ngIf="settingsForm.enabled">
    Zatwierdź
  </button>
</form>
