<form
  class="finalize-form"
  [formGroup]="finalizeForm"
  (submit)="handleSubmit()"
>
  <p class="finalize-form__title fnt-18-regular">
    Wprowadź dane do zamówienia:
  </p>

  <div class="finialize-form__inputs">
    <mat-form-field color="primary">
      <mat-label>Imię</mat-label>
      <input appNoSpaces matInput formControlName="firstName" />
      <mat-error *ngIf="firstNameCtrl.errors as errors">
        <ng-container *ngIf="errors['required']; else nameMinLength"
          >To pole jest wymagane.</ng-container
        >
        <ng-template #nameMinLength>
          <ng-container
            *ngIf="errors['minlength'] as minLength; else nameMaxLength"
            >Min. liczba znaków: {{ minLength.actualLength }}/{{
              minLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #nameMaxLength>
          <ng-container
            *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
            >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
              maxLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #nameSpecialLetters>
          <ng-container *ngIf="errors['pattern']"
            >Znaki specjalne są niedozwolone</ng-container
          >
        </ng-template>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>Nazwisko</mat-label>
      <input appNoSpaces matInput formControlName="lastName" />
      <mat-error *ngIf="lastNameCtrl.errors as errors">
        <ng-container *ngIf="errors['required']; else nameMinLength"
          >To pole jest wymagane.</ng-container
        >
        <ng-template #nameMinLength>
          <ng-container
            *ngIf="errors['minlength'] as minLength; else nameMaxLength"
            >Min. liczba znaków: {{ minLength.actualLength }}/{{
              minLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #nameMaxLength>
          <ng-container
            *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
            >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
              maxLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #nameSpecialLetters>
          <ng-container *ngIf="errors['pattern']"
            >Znaki specjalne są niedozwolone</ng-container
          >
        </ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Numer telefonu</mat-label>
      <input appNoSpaces matInput formControlName="phone" />
      <mat-error *ngIf="phoneCtrl.errors as errors">
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
        <ng-template #nameMaxLength>
          <ng-container
            *ngIf="errors['maxlength'] as maxLength; else namePattern"
            >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
              maxLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #namePattern>
          <ng-container *ngIf="errors['pattern']"
            >Telefon jest w niewłaściwym formacie</ng-container
          >
        </ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Email</mat-label>
      <input appNoSpaces matInput formControlName="email" />
      <mat-error *ngIf="emailCtrl.errors as errors">
        <ng-container *ngIf="errors['required']; else nameMinLength"
          >To pole jest wymagane.</ng-container
        >
        <ng-template #nameMinLength>
          <ng-container
            *ngIf="errors['minlength'] as minLength; else nameMaxLength"
            >Min. liczba znaków: {{ minLength.actualLength }}/{{
              minLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #nameMaxLength>
          <ng-container
            *ngIf="errors['maxlength'] as maxLength; else namePattern"
            >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
              maxLength.requiredLength
            }}.</ng-container
          >
        </ng-template>
        <ng-template #namePattern>
          <ng-container *ngIf="errors['pattern'] as pattern"
            >Email jest w złym formacie.</ng-container
          >
        </ng-template>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>Powtórz email</mat-label>
      <input
        appNoSpaces
        matInput
        formControlName="confirmEmail"
        [errorStateMatcher]="confirmEmailStateMatcher"
      />
      <mat-error>
        <ng-container
          *ngIf="confirmEmailCtrl.errors as errors; else nameConfirmEmail"
        >
          <ng-container *ngIf="errors['required']"
            >To pole jest wymagane.</ng-container
          >
        </ng-container>
        <ng-template #nameConfirmEmail>
          <ng-container *ngIf="finalizeForm.errors as errors">
            <ng-container *ngIf="errors['isEmailEqual']">
              Emaile nie są takie same
            </ng-container>
          </ng-container>
        </ng-template>
      </mat-error>
    </mat-form-field>

    <div>
      <input class="finalize-form__checkbox" type="checkbox" id="newsletter" />
      <label for="newsletter"
        >Chcę otrzymywać informację o zniżkach, promocjach itp.</label
      >
    </div>
  </div>
  <button mat-flat-button color="accent">Przejdź do płatności</button>
</form>
