.finalize-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.finalize-form__title {
  margin: 15px 0;
}

.finialize-form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 50px;
}

.finalize-form__name-container {
  display: flex;
}

.finalize-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalize-form__input {
  margin: 10px;
}
