<div class="register__wrapper main-page">
    <div class="register main-container">
        <h2>Register</h2>
        <app-register-form
            (handleSubmitEvent)="handleRegister($event)"
        ></app-register-form>
        <p *ngIf="error" class="fnt-13-regular fnt-color-red">{{ error }}</p>
        <p *ngIf="isSuccess" class="fnt-13-regular fnt-color-green">Konto zostało stworzone, możesz się teraz zalogować!</p>
        <p class="fnt-13-regular">Posiadasz już konto? <a routerLink="/login"> Zaloguj się.</a></p>
    </div>
</div>
