.order-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-complete__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--colorWhite);
  border-radius: 5px;
}

.order-complete__button-link {
  width: 200px;
  background-color: none;
  border: none;
  cursor: pointer;
}

.order-complete__qr {
  width: 100%;
  max-width: 250px;
}
