<ng-container *ngIf="order$ | async as order">
  <div class="order-complete main-page">
    <div class="main-container">
      <div class="order-complete__content main-card">
        <h2>Dziękujemy za zamówienie!</h2>
        <p>Bilety zostały wysłane na e-mail: {{ order.ownerDetails.email }}</p>
        <img
          class="order-complete__qr"
          [src]="BARCODE_API_URL + 'localhost%3A4200%2Ftickets%2F' + order.id"
        />
        <a (click)="navigateToTicket(order.id)">Link do biletów</a>
        <button mat-flat-button color="primary" routerLink="/">
          Wróć na stronę główną
        </button>
      </div>
    </div>
  </div>
</ng-container>
