<div class="finalize main-container" *ngIf="screening && ticketTypes">
    <div class="finalize__header-wrapper">
        <h2 class="finalize__title">{{ screening.movie.name + ' -'}}</h2>
        <p class="finalize__text-details">{{ screening.day + ', godz. ' + screening.hour[0] }}</p>
    </div>
    <div class="finalize__seats-container">
        <div class="finalize__seat" *ngFor="let seat of seatsChosen">
            <p class="seats__informations">Rząd {{ alphabeth[seat[0]] }}, miejsce {{ seat[1] + 1 }}</p>
            <p class="seats__price">{{ ticketTypes[seat[2]].price }}zł</p>
        </div>
        <div class="seats__price-sum">razem {{ getPriceSum() }}zł</div>
    </div>
    <app-finalize-form></app-finalize-form>
</div>