.admin-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-panel__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
}
