<div class="register__wrapper main-page">
  <div class="main-container">
    <div class="register main-card">
      <h2>Register</h2>
      <app-register-form
        (handleSubmitEvent)="handleRegister($event)"
      ></app-register-form>
      <ng-container *ngIf="authLoader$$ | async as loader">
        <mat-spinner
          *ngIf="loader.status === 'pending'"
          [diameter]="25"
          color="accent"
        ></mat-spinner>
        <p
          *ngIf="loader.status === 'failed'"
          class="fnt-13-regular fnt-color-red"
        >
          {{ loader.errorMessage }}
        </p>
        <p
          *ngIf="loader.status === 'success'"
          class="fnt-13-regular fnt-color-green"
        >
          Konto zostało stworzone, możesz się teraz zalogować!
        </p>
      </ng-container>
      <p class="fnt-13-regular">
        Posiadasz już konto? <a routerLink="/login"> Zaloguj się.</a>
      </p>
    </div>
  </div>
</div>
