.seat {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat-occupied {
    background-color: var(--colorPurple);
    cursor: auto;
}

.seat-chosen {
    background-color: var(--colorGreen);
}