<form
  class="register-form"
  [formGroup]="registerForm"
  (ngSubmit)="handleSubmit()"
>
  <mat-form-field color="primary">
    <mat-label>Imię</mat-label>
    <input appNoSpaces matInput formControlName="firstName" />
    <mat-error *ngIf="firstNameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container
          *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameSpecialLetters>
        <ng-container *ngIf="errors['pattern']"
          >Znaki specjalne są niedozwolone</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="primary">
    <mat-label>Nazwisko</mat-label>
    <input appNoSpaces matInput formControlName="lastName" />
    <mat-error *ngIf="lastNameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container
          *ngIf="errors['maxlength'] as maxLength; else nameSpecialLetters"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameSpecialLetters>
        <ng-container *ngIf="errors['pattern']"
          >Znaki specjalne są niedozwolone</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="primary">
    <mat-label>Email</mat-label>
    <input appNoSpaces matInput formControlName="email" />
    <mat-error *ngIf="emailCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container *ngIf="errors['maxlength'] as maxLength; else namePattern"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #namePattern>
        <ng-container *ngIf="errors['pattern'] as pattern"
          >Email jest w złym formacie.</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="primary">
    <mat-label>Hasło</mat-label>
    <input appNoSpaces type="password" matInput formControlName="password" />
    <mat-error *ngIf="passwordCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else nameMinLength"
        >To pole jest wymagane.</ng-container
      >
      <ng-template #nameMinLength>
        <ng-container
          *ngIf="errors['minlength'] as minLength; else nameMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
      <ng-template #nameMaxLength>
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </ng-template>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="primary">
    <mat-label>Powtórz hasło</mat-label>
    <input
      appNoSpaces
      type="password"
      matInput
      formControlName="confirmPassword"
      [errorStateMatcher]="confirmPasswordMatcher"
    />
    <mat-error>
      <ng-container *ngIf="confirmPasswordCtrl.errors as errors; else isEqual">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
      </ng-container>
      <ng-template #isEqual>
        <ng-container *ngIf="registerForm.errors as errors">
          <ng-container *ngIf="errors['isEqual']">
            Hasła się nie zgadzają
          </ng-container>
        </ng-container>
      </ng-template>
    </mat-error>
  </mat-form-field>
  <app-button text="Zarejestruj" type="submit"></app-button>
</form>
