<div class="movie main-container">
    <img class="movie__image" [src]="screenings.movie.image" alt="Movie image" />
    <div class="movie__content">
        <div class="content__text">
            <h2 class="content__name">
                {{ screenings.movie.name }}<span class="content__premiere fnt-18-regular" *ngIf="screenings.movie.premiere"> - Premiera!</span>
            </h2>
            <p class="content__informations">{{ screenings.movie.genre.join(' | ') + ' | ' + screenings.movie.duration + ' | ' + screenings.movie.ageRestrictions }}</p>
            <p class="content__description">{{ screenings.movie.description}}</p>
        </div>
        <ul class="content__button-bar"> 
            <li 
                *ngFor="let hour of screenings.hours" 
                class="button-bar__item"
                (click)="handleClick(hour.screeningId)"
            >{{ hour.hour }}</li>
        </ul>
        </div>
        <div class="movie__left-container">
        <p class="movie__rating fnt-24-bold">{{ screenings.movie.rating }}/10</p>
        <app-button
            *ngIf="user$$ | async"
            text="Oceń ten film!"
        ></app-button>
        <app-button
            *ngIf="user$$ | async"
            text="Chcę zobaczyć"
        ></app-button>
    </div>
</div>
