<div class="main-page">
  <div class="main-container">
    <div class="main-card add-screening">
      <h2>Dodaj seans</h2>
      <ng-container *ngIf="data$ | async as data">
        <app-add-screening-form
          [movies]="data[0]"
          [rooms]="data[1]"
          (handleSubmitEvent)="createScreening($event)"
        ></app-add-screening-form>
      </ng-container>
      <ng-container *ngIf="requestState | async as requestState">
        <app-loader [requestState]="requestState"></app-loader>
      </ng-container>
    </div>
  </div>
</div>
