* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* COLORS */

:root {
    --colorWhite: #FFFFFF;
    --colorLightGray: hsl(0, 0%, 95%);
    --colorBlack: #000000;
    --colorDarkGreen: #005C53;
    --colorDarkBlue: #042940;
    --colorGreen: #9FC131;
    --colorBrightGreen: #DBF227;
    --colorGrayishGreen: #D6D58E;
    --colorRed: #C2301D;
    --colorPurple: #75124D;
}

.fnt-color-red {
    color: var(--colorRed);
}

.fnt-color-green {
    color: var(--colorGreen);
}

.opaque {
    opacity: 50%;
}

body {
    background-color: var(--colorLightGray);
}

/* LAYOUT */

.main-page {
    min-height: calc(100vh - 235px);
    width: 100%;
    padding: 0 40px;
}

.main-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 25px;
}

.box-shadow-container {
    box-shadow: 1.5px 1.5px hsl(0, 0%, 50%);
}

/* FONTS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

.fnt-24-bold {
    font-size: 24px;
    font-weight: bold;
}

.fnt-18-regular {
    font-size: 18px;
    font-weight: 400;
}

.fnt-13-regular {
    font-size: 13px;
    font-weight: 400;
}

/* ELEMENTS */

a {
    color: var(--colorDarkPurple);
    transition: color 0.2s linear;
}

a:hover {
    color: var(--colorGreen);
}

.input {
    padding: 10px 25px;
    border-radius: 50px;
    border: 1.25px solid var(--colorBlack);
}

.input-error {
    border-color: var(--colorRed);
}