// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "./pallettes" as palette;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cinema-primary: mat.define-palette(palette.$green-palette, 500);
$cinema-accent: mat.define-palette(palette.$purple-palette, 700);

// The warn palette is optional (defaults to red).
$cinema-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cinema-theme: mat.define-light-theme(
  (
    color: (
      primary: $cinema-primary,
      accent: $cinema-accent,
      warn: $cinema-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cinema-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* COLORS */

:root {
  --colorWhite: #ffffff;
  --colorLightGray: hsl(0, 0%, 95%);
  --colorGray: hsl(0, 0%, 80%);
  --colorBlack: #000000;
  --colorDarkGreen: #005c53;
  --colorDarkBlue: #042940;
  --colorGreen: #9fc131;
  --colorBrightGreen: #dbf227;
  --colorGrayishGreen: #d6d58e;
  --colorRed: #c2301d;
  --colorPurple: #75124d;
}

.fnt-color-red {
  color: var(--colorRed);
}

.fnt-color-green {
  color: var(--colorGreen);
}

.opaque {
  opacity: 50%;
}

body {
  background-color: var(--colorLightGray);
}

/* LAYOUT */

.main-page {
  min-height: calc(100vh - 235px);
  width: 100%;
  padding: 0 40px;
}

.main-container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 25px;
}

.box-shadow-container {
  box-shadow: 1.5px 1.5px hsl(0, 0%, 50%);
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

.fnt-24-bold {
  font-size: 24px;
  font-weight: bold;
}

.fnt-18-regular {
  font-size: 18px;
  font-weight: 400;
}

.fnt-16-bold {
  font-size: 16px;
  font-weight: bold;
}

.fnt-13-regular {
  font-size: 13px;
  font-weight: 400;
}

.fnt-13-bold {
  font-size: 13px;
  font-weight: bold;
}

/* ELEMENTS */

a {
  color: var(--colorDarkPurple);
  transition: color 0.2s linear;
  text-decoration: underline;
}

a:hover {
  color: var(--colorGreen);
  cursor: pointer;
}

.input {
  padding: 10px 25px;
  border-radius: 50px;
  border: 1.25px solid var(--colorBlack);
}

.input-error {
  border-color: var(--colorRed);
}

/* MATERIAL */

mat-error,
span.mat-badge-content {
  font-size: 12px;
}
