<div class="cart" *ngIf="cartItems | async as cartItems">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadgeHidden]="!(cartItems | countCartItems)"
      matBadge="{{ cartItems | countCartItems }}"
      matBadgeSize="small"
      matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu">
    <p class="cart__empty" *ngIf="!cartItems.length; else cart">
      Twój koszyk jest pusty
    </p>
    <ng-template #cart>
      <button mat-menu-item *ngFor="let cartItem of cartItems">
        <div>
          <span class="fnt-16-bold">{{ cartItem.screening?.movie?.name }}</span
          >, {{ cartItem.screening?.day }},
          {{ cartItem.screening?.hour }}
          <br />
          siedzienia:
          <span *ngFor="let seat of cartItem.reservedSeats">
            {{ alphabeth[seat[0]] }}{{ seat[1] + 1 }}</span
          >
        </div>
      </button>
    </ng-template>
  </mat-menu>
</div>
