<header class="header__wrapper">
    <div class="header">
        <div class="header__logo-container" routerLink="">
            <h1 class="header__title">Ale kino!</h1>
            <fa-icon class="header__icon" [icon]="film"></fa-icon>
        </div>
        <div class="header__buttons">
            <ng-container *ngIf="userData$$ | async as user">
                <app-cart
                    *ngIf="user.user"
                    [cartCounter]="cartCounter"
                    [cartItems]="cartItems"
                ></app-cart>
                <app-header-dropdown
                    *ngIf="user.user; else elseBlock"
                    (logoutEvent)="handleLogout()"
                    [firstName]="user.user.firstName"
                ></app-header-dropdown>
                <ng-template #elseBlock>
                    <app-button
                        text="Zaloguj"
                        [important]="true"
                        routerLink="login"
                    ></app-button>
                </ng-template>
            </ng-container>
        </div>
    </div>
</header>
