<header class="header__wrapper">
  <div class="header">
    <div class="header__logo-container" routerLink="">
      <h1 class="header__title">Ale kino!</h1>
      <fa-icon class="header__icon" [icon]="film"></fa-icon>
    </div>
    <div class="header__buttons">
      <ng-container *ngIf="authState | async as authState">
        <ng-container *ngIf="authState.isLogged; else elseBlock">
          <app-cart></app-cart>
          <app-header-dropdown
            (logoutEvent)="handleLogout()"
            [firstName]="authState.data!.firstName"
          ></app-header-dropdown>
        </ng-container>
        <ng-template #elseBlock>
          <app-button
            text="Zaloguj"
            [important]="true"
            routerLink="login"
          ></app-button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</header>
